@import (reference) "../mixins";

.panel {
  background-color: white;
  ._content_border;
  margin-bottom: 5px;
}

.panel__title {
  font-weight: bold;
  border-bottom: 1px solid #D3DBE2;
  padding: 5px 10px;
  background: white url("images/fold.svg") 98% center no-repeat;
  background-size: 15px;
  cursor: pointer;

  &.collapsed {
    border-bottom: none;
    background-image: url("images/unfold.svg");
  }
}

.panel__body {
  font-size: .9em;
}

.panel__body-inner {
  padding: 10px;
}
