<!doctype html>
<head>
  <title>Mapper Core</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/semantic.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
<div class="app">
  {% block app %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='scripts/require-2.3.5-min.js') }}"></script>
<script defer>
  require.config({
    baseUrl: "/{{app.name}}/scripts",
    paths: {
      jquery: '/_/scripts/vendors/jquery-3.2.1-min',
      underscore: '/_/scripts/vendors/underscore-1.8.3-min',
      backbone: '/_/scripts/vendors/backbone-1.3.3-min',
      semantic: '/_/scripts/vendors/semantic-2.2.13-min',
      d3: '/_/scripts/vendors/d3-4.12.2-min',
      app: '/_/scripts/app'
    },
    shim: {
      d3: {
        exports: 'd3'
      },
      jquery: {
        exports: "$"
      },
      underscore: {
        exports: "_"
      },
      backbone: {
        deps: ['underscore', 'jquery'],
        exports: 'Backbone'
      }
    }
  });
  require(['app'], function (app) {
    app.name = '{{app.name}}';
    require(['render']);
  });
</script>
</body>
